/* #region  Common Rules*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
}

/* Debug */
.debug header {
    background-color: aqua;
    height: 40px;
}

.debug .col-2,
.debug .col-10 {
    background-color: orange;
    border: 1px solid;
}

.debug .background {
    background-color: blue;
    height: 300px;
}

.debug .title {
    background-color: pink;
    height: 250px;
}

/* #region Colonne */
.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}
.col-3 {
    width: calc(100% / 12 * 3);
}
.col-4 {
    width: calc(100% / 12 * 4);
}
.col-5 {
    width: calc(100% / 12 * 5);
}
.col-6 {
    width: calc(100% / 12 * 6);
}
.col-7 {
    width: calc(100% / 12 * 7);
}
.col-8 {
    width: calc(100% / 12 * 8);
}
.col-9 {
    width: calc(100% / 12 * 9);
}
.col-10 {
    width: calc(100% / 12 * 10);
}
.col-11 {
    width: calc(100% / 12 * 11);
}
.col-12 {
    width: calc(100% / 12 * 12);
}
/* #endregion colonne */

.link {
    text-align: center;
}

.login {
    text-align: right;
}

.title {
    width: 50%;
    margin: auto;
}
