/* #region  Common Rules*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #endregion */

/* Utilities */
.container {
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:root {
    --disc-darker: #23272A;
    --disc-text: #7289DA;
    --disc-header: #255EE9;
    --disc-grey: #F5F5F5;

}
/* / */

/* #region Debug */
.debug header {
    background-color: var(--disc-header);
    height: 40px;
}

.debug .col-2,
.debug .col-10 {
    background-color: orange;
    border: 1px solid;
}

.debug .background {
    background-color: blue;
    height: 300px;
}

.debug .title {
    background-color: pink;
    height: 250px;
}

.debug .background-white {
    height: 350px;
}

.debug .background-grey {
    height: 350px;
    background-color: rgb(228, 220, 220);
}

.debug .img {
    height: 300px;
    background-color: rgb(74, 138, 160);
}

.debug .text {
    height: 300px;
    background-color: rgba(255, 192, 203, 0.61);
}

.debug .last-section {
    height: 500px;
    background-color: rgb(228, 220, 220);
}

.debug .video-chat {
    height: 400px;
    background-color: greenyellow;
}

.debug .col-footer {
    height: 400px;
    background-color: red;
}

.debug footer>.row {
    height: 500px;
}

footer {
    background-color: rgba(0, 0, 0, 0.658);
}

.debug .end-footer {
    height: 50px;
}

.debug .logo-footer,
.debug .button-footer {
    background-color: yellow;
}
/* #endregion Debug */

/* #region Colonne */
.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}
.col-3 {
    width: calc(100% / 12 * 3);
}
.col-4 {
    width: calc(100% / 12 * 4);
}
.col-5 {
    width: calc(100% / 12 * 5);
}
.col-6 {
    width: calc(100% / 12 * 6);
}
.col-7 {
    width: calc(100% / 12 * 7);
}
.col-8 {
    width: calc(100% / 12 * 8);
}
.col-9 {
    width: calc(100% / 12 * 9);
}
.col-10 {
    width: calc(100% / 12 * 10);
}
.col-11 {
    width: calc(100% / 12 * 11);
}
.col-12 {
    width: calc(100% / 12 * 12);
}

/* #endregion colonne */

.link {
    text-align: center;
}

.login {
    text-align: right;
}


.title {
    width: 50%;
    margin: auto;
}


